.comments__wrapper{
    padding: 0px 150px 120px 150px;
}
.first__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.comments__title{
    font-family: $sato-b;
    font-size: 70px;
    font-weight: 700;
    line-height: 74.2px;
    text-align: left;
    color: #171717;
}
.users__wrapper{
    display: flex;
}
.users__title{
    font-family: $sato-m;
    font-size: 38px;
    font-weight: 500;
    line-height: 40.28px;
    text-align: left;
    color: #171717;
    padding: 32px 0px;
    max-width: 557px;
}
.users__comment{
    font-family: $sato-r;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.33px;
    text-align: left;
    color: #171717;
    padding: 0px 0px 38px 0px;
    max-width: 491px;
}
.users__info{
    display: flex;
    align-items: center;
    gap: 18px;
}
.users__name{
    font-family: $sato-m;
    font-size: 24px;
    font-weight: 500;
    line-height: 25.44px;
    text-align: left;
    color: #171717;
}
.users__job{
    font-family: $sato-r;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.96px;
    text-align: left;
    color: #171717;    
}