@font-face {
    font-family: 'Satoshi-M';
    src: url(../fonts/Satoshi-Medium.woff2);
}
@font-face {
    font-family: 'Satoshi-B';
    src: url(../fonts/Satoshi-Bold.woff2);
}
@font-face {
    font-family: 'Satoshi-R';
    src: url(../fonts/Satoshi-Regular.woff2);
}