.nav__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 34px 150px 36px 150px;
    align-items: center;
}
nav{
    border-bottom: 1px #FFFFFF33 solid;
    .nav__info{
    display: flex;
    gap: 24px;
        .nav__text{
            font-family: $sato-m;
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            color: #FFFFFF;
        }
    }
}